.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    nz-form-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 16px;
    }

    nz-form-item {
        margin-bottom: 16px; 
    }

    nz-form-control {
        width: 100%; 
    }

    nz-select,
    input {
        min-width: 300px;
    }

    @media (max-width: 600px) {
        nz-select,
        input {
            min-width: 100%;
        }
    }

    @media (max-width: 768px) {
        .form-grid {
            grid-template-columns: 1fr;
        }
    }
}
