<div class="container">
    <nz-form [formGroup]="offerForm">
        <nz-form-item>
            <nz-form-label nzFor="mode">Mode</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="mode" nzPlaceHolder="Select Mode">
                    <nz-option nzValue="LCL" nzLabel="LCL"></nz-option>
                    <nz-option nzValue="FCL" nzLabel="FCL"></nz-option>
                    <nz-option nzValue="Air" nzLabel="Air"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="movementType">Movement Type</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="movementType" nzPlaceHolder="Select Movement Type">
                    <nz-option nzValue="Door to Door" nzLabel="Door to Door"></nz-option>
                    <nz-option nzValue="Port to Door" nzLabel="Port to Door"></nz-option>
                    <nz-option nzValue="Door to Port" nzLabel="Door to Port"></nz-option>
                    <nz-option nzValue="Port to Port" nzLabel="Port to Port"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="incoterms">Incoterms</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="incoterms" nzPlaceHolder="Select Incoterms">
                    <nz-option nzValue="DDP" nzLabel="Delivered Duty Paid (DDP)"></nz-option>
                    <nz-option nzValue="DAT" nzLabel="Delivered At Place (DAT)"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="countryCity">Country - City</nz-form-label>
            <nz-form-control>
                <input nz-input [nzAutocomplete]="auto" formControlName="countryCity" placeholder="Type to search..." />
                <nz-autocomplete #auto>
                    @for (item of filteredCities; track $index) {
                    <nz-auto-option [nzValue]="item">
                        {{ item }}
                    </nz-auto-option>
                    }
                </nz-autocomplete>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="packageType">Package Type</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="packageType" nzPlaceHolder="Select Package Type">
                    <nz-option nzValue="Pallets" nzLabel="Pallets"></nz-option>
                    <nz-option nzValue="Boxes" nzLabel="Boxes"></nz-option>
                    <nz-option nzValue="Cartons" nzLabel="Cartons"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" [disabled]="offerForm.invalid" (click)="saveOffer()">Save</button>
            </nz-form-control>
        </nz-form-item>
    </nz-form>
</div>